<div class="todo-card">
  <div nz-row nzJustify="space-between" nzAlign="middle">
    <div nz-col nzFlex="auto">
      <p nz-typography>
        <!-- * Task 5: Continues from todo-card.component.ts (A) -->
        {{ todoTitle }}
        <!-- * Task 5: Continues below (B) -->
      </p>
    </div>
    <div nz-col nzFlex="40px">
      <!-- * Task 5: Continues here (B) -->
      <button
        nz-button
        nzType="primary"
        nzDanger
        nzShape="circle"
        (click)="onDeleteTodo.emit(todoId)"
      >
        <!-- * Task 5: Ends here -->
        <span nz-icon nzType="delete" nzTheme="outline"></span>
      </button>
    </div>
  </div>
</div>
