<nz-content>
  <div class="container">
    <div nz-row nzJustify="center" [nzGutter]="[8, 8]">
      <div
        *ngFor="let item of users"
        nz-col
        nzXs="24"
        nzSm="12"
        nzMd="8"
        nzLg="6"
        (click)="onNavigateToUserTodo('users/' + item.id)"
      >
        <nz-card>
          <nz-card-meta
            [nzAvatar]="avatarTemplate"
            [nzTitle]="item.name"
            nzDescription="View todos"
          />
        </nz-card>
        <ng-template #avatarTemplate>
          <nz-avatar [nzSize]="64" [nzSrc]="item.avatar" />
        </ng-template>
      </div>
    </div>
  </div>
</nz-content>
