<nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
  <!-- * Task 3: Continues from add-todo.component.ts (A) -->
  <input
    type="text"
    nz-input
    placeholder="add a new todo"
    [(ngModel)]="todoText"
  />
  <!-- * Task 3: Continues below (B) -->
</nz-input-group>
<ng-template #suffixButton>
  <!-- * Task 3: Continues from here (B) -->
  <button
    nz-button
    nzType="primary"
    nzSize="large"
    nzSearch
    (click)="onAddTodo.emit(todoText)"
  >
    <!-- * Task 3: Ends here -->
    Add
  </button>
</ng-template>
